:root {
  --green: #158053;
  --violet: #938ae2;
  --volt: #ceff00;
  --dark: #393c3a;
  --light: #F3F3F3;
}

@font-face {
  font-family: PP Formula;
  src: url(./ppformula.ttf);
}

@font-face {
  font-family: Neue thin;
  src: url(./Neue_thin.ttf);
}

@font-face {
  font-family: Neue regular;
  src: url(./Neue_regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: PP Formula,sans-serif;
  width: 100%;
  background-color: #faf8df;
  min-height: 100vh;
}

.mainTitle {
  font-family: PP Formula,sans-serif;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  font-weight: 900;
  color: var(--green);
}

.cardContainer {
  margin: 1em auto 0;
  width: 18em;
  height: 27.5em;
  perspective: 50em;
}

.fullWidth {
  height: 100%;
  width: 100%;
}

.cardInner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.cardInner.isFlipped {
  transform: rotateY(180deg);
}


.cardFace {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.cardFaceFront {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.cardHeader {
  position: relative;
  padding: 1em;
  height: 20%;
}

.pp {
  display: block;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: #FFF;
  border: 3px solid #FFF;
  object-fit: cover;
}

.cardFaceBack {
  transform: rotateY(180deg);
}

.violet .cardFaceBack {
  background: var(--light);
}

.volt .cardFaceBack {
  background: var(--dark);
}

.cardBody {
  padding: 1em;
  height: 55%;
}

.cardBodyTitle {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.5em;
  font-weight: 800;
  margin-bottom: 0.5em;
}

.cardBody {
  font-family: Neue thin;
  padding: 1em;
  height: 55%;
}

.cardTagline {
  font-family: Neue regular;
}

.violet .cardBody,.violet .cardTagline, violet .cardBodyTitle {
  color: var(--dark);
}

.violet .cardBody span {
  color: var(--violet);
}

.volt .cardBody, .volt .cardTagline, .volt .cardBodyTitle {
  color: var(--light);
}

.volt .cardBody span {
  color: var(--volt);
}

.cardTagline {
  height: 10%;
}

.cardFooter {
  height: 10%;
}

.footerLogo {
  /* width: 15%; */
}
